html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.container {
  display: flex;
  flex-direction: row;
}
.side__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #60a5fa;
  padding-left: 0.5rem;
  width: 20vw;
  color: white;
}
.nav__icon {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.side__nav__logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.side__nav__logo img {
  display: flex;
  width: 2rem;
  height: 2rem;
}
.side__nav__top, .side__nav__bottom {
  margin-bottom: 1rem;
}
.side__nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top__nav {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 80vw;
  padding-left: 1vw;
}
.top__nav__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.top__nav__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.top__nav__bottom-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top__nav__bottom-left-text {
  display: flex;
  flex-direction: column;
}
.top__nav__bottom-left-text > p, .top__nav__bottom-left-text > h4 {
  margin: 0;
}
.profile__img {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding-right: 1vw;
}
.top__nav__top-left, .top__nav__top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}