/* global */

html {
  font-size: 16px;
}
img {
  width: 2rem;
  height: 2rem;
}

/* container */

.container {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 10vh 1fr;
  grid-template-areas: "sidebar topnav" "sidebar grid";
}

/* side nav */

.side__nav {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  width: 20vw;
  height: 95vh;
  color: white;
  background-color: #06b6d4;
}
.side__nav__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.side__nav__logo {
  padding-bottom: 0.5rem;
}
.side__nav__logo img {
  width: 2.5rem;
  height: 2.5rem;
}
.side__nav__bottom {
  padding-top: 1rem;
}

/* top nav */

.top__nav {
  display: flex;
  flex-direction: column;
  grid-area: topnav;
  width: 80vw;
  height: 10vh;
}
.top__nav__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.top__nav__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.top__nav__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.5rem;
}
.top__nav__vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
.top__nav__vertical p, .top__nav__vertical h3 {
  padding: 0;
  margin: 0;
}

/* grid container */

.grid__container {
  grid-area: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.grid__item {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  border: 1px solid black;
  border-left: 4px solid orange;
  border-radius: 6px;
  /* height: 15rem; */
}
.icon__container {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}